<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
        <header>
        <nav>
            <img src="images/logo.png" class="logo" alt="Logo HBnB, Mixte du logo de AirBnB et l'hippocampe de Holberton School" title="Logo HBnB">
            <ul class="nav-links">
                <li><a href="index.html" id="index-link" class="index-button">Index</a></li>
                <li><a href="login.html" id="login-link" class="login-button">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Add something to idfentify the place you're reviewing -->
        <form id="review-form">
            <h2>Add a Review</h2>
            <div class="review-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
            <label for="review">Your Review:</label>
            <textarea id="review" name="review" required></textarea>
            <label for="rating">Rating:</label>
            <select id="rating" name="rating" required>
                <!-- Options for rating -->
                <option value="">Select a rating</option>
                <option value="5">★★★★★</option>
                <option value="4">★★★★☆</option>
                <option value="3">★★★☆☆</option>
                <option value="2">★★☆☆☆</option>
                <option value="1">★☆☆☆☆</option>
            </select>
            <button type="submit">Submit Review</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 - HBnB - All rights reserved</p>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>
