/*
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks.
  You'll probably need to override some of theese styles.
*/
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Yellowtail&display=swap');

:root {
  --color-blanc-clair: #FFFFF4;
  --color-clair: #E3EBD0;
  --color-clair-moyen: #C7DDC5;
  --color-moyen: #9FCDA8;
  --color-moyen-fonce: #7DC2A5;
  --color-fonce: #476E5E;
  --text-noir-vert: #253930;
  --text-clair: #FFFFF4;
  --text-moyen: #7DC2A5;
  --color-star: #DAA520;
  --font-titre: 'Ringbearer', 'Ephesis', cursive, Arial, sans-serif;
  --font-texte: 'Ephesis', cursive, Arial, sans-serif;
  --font-autre: "Delius", cursive, Arial, sans-serif;
}

@font-face {
  font-family: 'Ringbearer';
  src: url('fonts/RINGM___.TTF') format('truetype');
}

.ephesis-regular {
  font-family: 'Ephesis', cursive;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}


/* Base Reset - Réinitialisation globale */
* {
    box-sizing: border-box; /* inclut les bordures et paddings dans les dimensions */
    margin: 0; /* supprime les marges par défaut de tous les éléments */
    padding: 0; /* supprime les paddings par défaut */
}

html, body {
  height: 100%; /* hauteur totale de la fenêtre */
  margin: 0; /* supprime les marges par défaut */
}

/* Global - Corps de page */
body {
    background-color: var(--color-blanc-clair); /* couleur de fond */
    color: var(--text-noir-vert); /* couleur du texte */
    display: flex; /* active flexbox vertical */
    flex-direction: column; /* empile header, main, footer */
    min-height: 100vh; /* hauteur minimale = hauteur de la fenêtre */
    font-family: var(--font-texte); /* définit la police principale */
}

a {
    text-decoration: none;
}

/* Main - Zone de contenu flexible */
main {
    flex: 1; /* main prend tout l’espace disponible */
}

/* Header - En-tête */
header {
    background-color: var(--color-moyen-fonce);/* couleur de fond */
    color: var(--text-noir-vert); /* couleur point liste */
    padding: 10px 20px; /* padding vertical 10px, horizontal 20px */
}

/* Logo*/
.logo {
    height: 40px; /* hauteur fixe du logo */
}

/* Navigation */
nav {
    display: flex; /* flex horizontal */
    align-items: center; /* alignement vertical */
    justify-content: space-between; /* espace entre logo et liens */
    width: 100%; /* occupe toute la largeur */
}

/* Navigation - Liste de liens */
.nav-links {
    list-style: none; /* supprime les puces de la liste */
    display: flex; /* affiche les éléments en ligne (flexbox) */
    gap: 15px; /* espace entre les éléments */
}

/* Navigation - Liens */
.nav-links li a {
    text-decoration: none;/* supprime le soulignement des liens */
    color: var(--color-fonce); /* couleur du texte */
    font-weight: bold; /* texte en gras */
    font-size: 1.5em;
}

/* Navigation - Liens au survol */
.nav-links li a:hover {
    background-color: var(--color-fonce); /* change le fond au survol */
    color: var(--text-clair); /* change la couleur du texte au survol */
    transition: background-color 0.3s; /* Animation douce du changement de couleur */
}

/* Bouton de connexion */
.login-button,
.index-button {
  background-color: var(--color-clair);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Bouton de détails - Survol */
.details-button:hover {
    background-color: var(--color-fonce); /* couleur bouton survole*/
}

/* Contenu principal */
main {
    padding: 2rem; /* espace au-dessus du contenu principal */
}

/* Bienvenue */
#bienvenue {
    background-color: var(--color-blanc-clair); /* couleur de fond */
    padding: 20px 20px; /* Espacement intérieur */
    text-align: center; /* Centrer le texte */
}

#bienvenue h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--color-fonce);
    font-family: var(--font-titre);
}

#bienvenue h2 {
    color: var(--text-noir-vert);
    font-weight: normal;
    font-family: var(--font-texte);
    font-size: 3em;
}

/* Filter */
#filter {
    margin-bottom: 20px; /* espace sous le filtre */
}

label {
    font-size: 1.7em;
}
/*----------------------------------INDEX----------------------------------------------*/
/* Liste des lieux par id# */
#places-list {
    display: flex; /* affiche les cartes en ligne */
    flex-wrap: wrap; /* permet le retour à la ligne si nécessaire */
    gap: 50px; /* espace entre les cartes */
    justify-content: center; /* centre les cartes horizontalement */
}

/* Carte de lieu */
.place-list-index {
    background-color: var(--color-clair); /* couleur fond */
    border: 1px solid var(--color-moyen-fonce); /* bordure couleur*/
    border-radius: 10px; /* coins arrondis */
    padding: 10px; /* espace intérieur */
    width: 300px; /* largeur fixe */
    box-shadow: 5px 5px 3px rgba(0,0,0,0.05); /* Ombre droite, bas, intensité, couleur */
}

.place-list-index h2 {
    font-size: 1.5em; /* taille de titre */
    margin-bottom: 10px; /* espace sous le titre */
    margin-top: 10px;
    text-align: center; /* centre le texte horizontalement */
    font-family: var(--font-titre);
    color: var(--color-fonce);
}

/* Carte de lieu - Texte */
.place-list-index p {
    margin: 15px 15px; /* espace vertical autour des paragraphes */
    text-align: center;
    font-size: 1.6em;
}

.place-image-index {
    width: 100%;
    height: 190px; /* conserve les proportions */
    object-fit: cover; /* garantie que l'image reste entière */
    border-radius: 0.5rem; /* coins arrondis */
    box-shadow: 5px 5px 3px rgba(0,0,0,0.05); /* Ombre droite, bas, intensité, couleur */
}

/* Bouton de détails, View détails */
.details-button-index {
    display: block; /* transforme le bouton en élément bloc */
    margin: 10px auto 0; /* haut 10px, centrage auto, bas 0 */
    background-color: var(--color-moyen-fonce); /* fond couleur */
    color: var(--color-blanc-clair); /* texte blanc */
    padding: 8px 12px; /* espace intérieur */
    border: none; /* aucune bordure */
    border-radius: 8px; /* coins arrondis */
    cursor: pointer; /* curseur pointeur au survol */
    box-shadow: 2px 2px 3px rgba(0,0,0,0.05); /* Ombre droite, bas, intensité, couleur */
    font-size: 0.9em;
    font-family: var(--font-titre);
}

/*-----------------------------------------Détail Place---------------------------------------*/
/* Détails d’un hébergement */
#place-details {
    display: flex; /* Active le modèle Flexbox */
    flex-wrap: wrap; /* Autorise les éléments à passer à la ligne si nécessaire */
    flex-direction: column;
    gap: 10px; /* Espacement entre les éléments */
    justify-content: center; /* Centre les éléments horizontalement */
    margin-bottom: 2rem; /* Marge en bas de la section */
    align-items: center;
}

/* Informations sur le lieu */
.place-info {

    border-radius: 10px; /* Coins arrondis */
    padding: 15px; /* Espacement intérieur */
    width: 100%; /* Largeur fixe des cartes */
    max-width: 800px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.05); /* Légère ombre portée */
    border: 5px inset var(--color-moyen-fonce); /* Bordure effet 3D */
    flex: 1 1 400px;
}

.place-image {
    max-width: 400px; /* Limite la largeur maximale de l’image à 400px */
    width: 100%; /* L’image prend toute la largeur disponible dans son conteneur */
    border-radius: 10px; /* Bords arrondis  */
    object-fit: cover; /* L’image couvre son conteneur sans se déformer */
}

.place-container {
    display: flex; /* Utilise Flexbox pour aligner horizontalement */
    gap: 20px; /* Espace de 20px entre les enfants (ex: image et .place-info) */
    align-items: center; /* Aligne les enfants en haut du conteneur */
    flex-wrap: wrap; /* Permet de passer à la ligne si la fenêtre est trop étroite */
    justify-content: center; /* Centre horizontalement les éléments sur plusieurs lignes */
}

/* Carte de lieu - Titre */
.titre-details-place {
    font-size: 2em; /* taille de titre */
    margin-bottom: 5px; /* espace sous le titre */
    margin-top: 10px;
    text-align: center; /* centre le texte horizontalement */
    font-family: var(--font-titre);
    color: var(--color-fonce);
}

/* Description paragraphe */
.place-info p {
    margin-bottom: 10px; /* Marge en dessous des paragraphes */
    text-align: left; /* formatage du texte */
    line-height: 1.4; /* Hauteur de ligne pour meilleure lisibilité */
    font-family: var(--font-texte);
    font-size: 1.7em;
}

/* Liste équipements  */
.place-info ul {
    list-style-type: circle; /* style Puces */
    margin-left: 20px; /* Décalage vers la droite de la liste */
    margin-bottom: 10px; /* Espace sous la liste */
    font-size: 1.7em;
    font-family: var(--font-texte);
}

/* Titre amenities */
.place-info h3 {
    margin-top: 15px; /* Espace au-dessus */
    margin-bottom: 8px; /* Espace en dessous */
    color: var(--color-fonce); /* Couleur moyenne foncée */
    text-align: left; /* formatage texte */
    font-size: 2em;
}

.host-label {
    color: var(--color-moyen-fonce); /* Définit la couleur du texte */
    font-family: var(--font-texte);
    font-size: 2em;
    font-weight: bold;
}

.price {
    margin: 0 auto;
    display: block;
    width: fit-content; /* ou une largeur fixe si nécessaire */
}

/* Apparence de bouton pour le prix */
.price-button {
    display: inline-block; /* Nécessaire pour padding et border */
    padding: 0.1em 0.3em; /* Espace intérieur */
    background-color: var(--color-clair); /* Couleur de fond */
    border-radius: 8px; /* Bords arrondis */
    color: var(--text-noir-vert); /* Couleur du texte */
    font-weight: bold; /* Texte gras */
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1); /* Léger effet d'ombre */
    transition: background-color 0.3s ease;
    margin: 0 auto 0; /* haut 10px, centrage auto, bas 0 */
}

.price-button:hover {
    background-color: var(--color-moyen-fonce); /* Effet au survol */
}

/*----------------------------------------REVIEWS------------------------------------------*/
/* Avis */
#reviews {
    max-width: 900px; /* Limite la largeur */
    margin: 0 auto 2rem; /* Centre la section et ajoute une marge en bas */
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

#add-review-title {
    font-size: 2em; /* taille text */
}

.review {
    border-radius: 8px; /* Coins arrondis */
    padding: 15px; /* Espacement intérieur */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-moyen-fonce); /* Bordure fine de couleur moyenne foncée */
    margin: 10px 0 10px 0 ;
}

.review-rating {
    color: var(--color-star); /* Couleur des étoiles */
    font-size: 1.1em; /* taille text */
}

/* Paragraphes avis*/
.review p {
    margin-bottom: 5px; /* Marge sous le paragraphe */

}

/* Formulaire ajout avis */
#add-review {
    max-width: 600px; /* Largeur maximale du formulaire */
    margin: 0 auto 3rem; /* Centré horizontalement, marge en bas */
    padding: 1rem; /* Espacement intérieur */
    background-color: var(--color-clair-moyen); /* Fond moyen clair */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1); /* Ombre douce */
}

/* Titre formulaire ajout avis */
#add-review h2 {
    text-align: center; /* Centrage du texte */
    color: var(--color-fonce); /* Couleur foncée */
}

/* Formulaire */
#review-form {
    display: none;
    display: flex; /* Flexbox */
    flex-direction: column; /* Alignement vertical */
    gap: 10px; /* Espace entre les éléments */
}

/* Labels du formulaire - petit titre */
#review-form label {
    font-weight: bold; /* Texte en gras */
    color: var(--color-fonce); /* Couleur foncée */
}

/* Zone de texte */
#review-text {
    resize: vertical; /* Redimensionnement vertical */
    min-height: 100px; /* Hauteur minimale */
    padding: 8px; /* Espacement intérieur */
    border: 1px solid var(--color-moyen-fonce); /* Bordure foncée */
    border-radius: 5px; /* Coins légèrement arrondis */
    font-family: inherit; /* Hérite de la police du parent */
    font-size: 1.7em; /* Taille de police normale */
}

/* Bouton soumettre */
#review-form button {
    align-self: flex-start; /* Aligne le bouton à gauche */
    padding: 8px 16px; /* Espacement intérieur horizontal/vertical */
    background-color: var(--color-moyen-fonce); /* Couleur de fond du bouton */
    color: var(--color-blanc-clair); /* Texte en blanc clair */
    border: none; /* Pas de bordure */
    border-radius: 8px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */
    font-weight: bold; /* Texte en gras */
    transition: background-color 0.3s; /* Animation douce du changement de couleur */
}

/* Bouton soumettre au survol */
#review-form button:hover {
    background-color: var(--color-fonce); /* Couleur de fond foncée au survol */
}

/* Footer - Pied de page */
footer {
    margin-top: 40px; /* espace au-dessus du pied de page */
    margin-bottom: 20px; /* espace en dessous du pied de page */
    text-align: center; /* texte centré */
    color: var(--text-noir-vert); /* texte gris moyen */
    font-size: 1.3em; /* taille légèrement réduite */
}
