/*
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks.
  You'll probably need to override some of theese styles.
*/
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Yellowtail&display=swap');

:root {
  --color-blanc-clair: #FFFFF4;
  --color-clair: #E3EBD0;
  --color-clair-moyen: #C7DDC5;
  --color-moyen: #9FCDA8;
  --color-moyen-fonce: #7DC2A5;
  --color-fonce: #476E5E;
  --text-noir-vert: #253930;
  --text-clair: #FFFFF4;
  --text-moyen: #7DC2A5;
  --color-star: #DAA520;
  --font-titre: 'Ringbearer', 'Ephesis', cursive, Arial, sans-serif;
  --font-texte: 'Aniron', 'Ephesis', cursive, Arial, sans-serif;
  --font-autre: "Delius", cursive, Arial, sans-serif;
  --color-marron1: #5b5d62;
  --color-marron2: #EEE6D8;
  --color-marron3: #DAAB3A;
  --color-marron4: #B67332;
  --color-marron5: #93441A;
  --color-bleu1: #D8E0EE;
}

@font-face {
  font-family: 'Ringbearer';
  src: url('fonts/RINGM___.TTF') format('truetype');
}

.ephesis-regular {
  font-family: 'Ephesis', cursive;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aniron';
  src: url('fonts/Aniron-7BaP.ttf') format('truetype');
}


/* Base Reset - Réinitialisation globale */
* {
    box-sizing: border-box; /* inclut les bordures et paddings dans les dimensions */
    margin: 0; /* supprime les marges par défaut de tous les éléments */
    padding: 0; /* supprime les paddings par défaut */
}

html, body {
  height: 100%; /* hauteur totale de la fenêtre */
  margin: 0; /* supprime les marges par défaut */
}

/* Global - Corps de page */
body {
    background-color: var(--color-blanc-clair); /* couleur de fond */
    color: var(--text-noir-vert); /* couleur du texte */
    display: flex; /* active flexbox vertical */
    flex-direction: column; /* empile header, main, footer */
    min-height: 100vh; /* hauteur minimale = hauteur de la fenêtre */
    font-family: var(--font-texte); /* définit la police principale */
    background-image: url("images/terre_du_milieu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5); /* blanc transparent par-dessus */
    background-blend-mode: lighten;
}

a {
    text-decoration: none;
}

/* Main - Zone de contenu flexible */
main {
    flex: 1; /* main prend tout l’espace disponible */
}

/* Header - En-tête */
header {
    /* couleur de fond */
    color: var(--text-noir-vert); /* couleur point liste */
    padding: 10px 20px; /* padding vertical 10px, horizontal 20px */
}

/* Logo*/
.logo {
    height: 40px; /* hauteur fixe du logo */
}

/* Navigation */
nav {
    display: flex; /* flex horizontal */
    align-items: center; /* alignement vertical */
    justify-content: space-between; /* espace entre logo et liens */
    width: 100%; /* occupe toute la largeur */
    position: relative;
}

/* Navigation - Liste de liens */
.nav-links {
    list-style: none; /* supprime les puces de la liste */
    display: flex; /* affiche les éléments en ligne (flexbox) */
    gap: 15px; /* espace entre les éléments */
}

/* Navigation - Liens */
.nav-links li a {
    text-decoration: none;/* supprime le soulignement des liens */
    color: var(--color-fonce); /* couleur du texte */
    font-weight: bold; /* texte en gras */
}

/* Navigation - Liens au survol */
.nav-links li a:hover {
    background-color: var(--color-fonce); /* change le fond au survol */
    color: var(--text-clair); /* change la couleur du texte au survol */
    transition: background-color 0.3s; /* Animation douce du changement de couleur */
}

/* Bouton de connexion */
.login-button {
    text-decoration: none; /*  */
    display: flex; /*  */
    align-items: center; /*  */
    justify-content: center; /*  */
    height: 100%; /* hauteur */
    padding: 0.5em 0.7em;
    font-size: 18px;

    cursor: pointer;
    transition: all 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    border-radius: 50px;
}

/* Bouton de détails - Survol */
.details-button:hover {
    background-color: var(--color-fonce); /* couleur bouton survole*/
}

.defile-wrapper {
    overflow: hidden; /* Masque le texte qui déborde horizontalement */
    white-space: nowrap; /* Empêche les retours à la ligne */
    width: 100%; /* Occupe toute la largeur du conteneur parent */
    position: relative; /* Nécessaire pour placer des éléments en absolu dedans */
}

.defile-container {
    display: inline-block; /* Nécessaire pour animer horizontalement */
    animation: defilement 15s linear infinite; /* Fait défiler le contenu en boucle */
    will-change: transform;
}

.defile {
    display: inline-block; /* Permet d’aligner les titres horizontalement */
    margin-right: 1rem; /* Espace entre les deux éléments qui défilent */
    padding-left: 200px;
}


.titre {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-noir-vert);
    font-family: var(--font-titre);
}

.sous-titre {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--text-noir-vert);
    font-family: var(--font-texte);
    letter-spacing: -2px;
}

@keyframes defilement {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Contenu principal */
main {
    padding: 2rem; /* espace au-dessus du contenu principal */
}

/*---------------------login email-mdp----------------------------------------*/
/* Conteneur du formulaire */
#login-form {
    padding: 2em;
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5); /* blanc transparent par-dessus */
    background-blend-mode: lighten;
}

/* Titre */
#login-form h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.5em;
    font-family: var(--font-titre);
    color: var(--text-noir-vert);
}

/* Champs */
#login-form label {
    display: block;
    margin-bottom: 0.3em;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: -1.5px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
    width: 100%;
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 6px;
    box-sizing: border-box;
}

/* Bouton */
#login-form button {
    width: 100%;
    padding: 0.2;
    border: none;
    font-size: 1.7em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--font-texte);
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px var(--color-marron2), inset -20px -20px 60px #ffffff;
}

#login-form button:hover {
    background-color: var(--color-fonce);
}

/* Filter */
#filter {
    margin-bottom: 20px; /* espace sous le filtre */
}

label {
    font-size: 1.2em;
    letter-spacing: -2px;
}
/*----------------------------------INDEX----------------------------------------------*/
/* Liste des lieux par id# */
#places-list {
    display: flex; /* affiche les cartes en ligne */
    flex-wrap: wrap; /* permet le retour à la ligne si nécessaire */
    gap: 50px; /* espace entre les cartes */
    justify-content: center; /* centre les cartes horizontalement */
}

/* Carte de lieu */
.place-list-index {
    border: 1px solid var(--color-moyen-fonce); /* bordure couleur*/
    border-radius: 10px; /* coins arrondis */
    padding: 10px; /* espace intérieur */
    width: 350px; /* largeur fixe */
    box-shadow: 5px 5px 3px rgba(0,0,0,0.05); /* Ombre droite, bas, intensité, couleur */
    background-color: rgba(255, 255, 255, 0.5); /* blanc transparent par-dessus */
    background-blend-mode: lighten;
}

.place-list-index h2 {
    font-size: 1.5em; /* taille de titre */
    margin-bottom: 10px; /* espace sous le titre */
    margin-top: 10px;
    text-align: center; /* centre le texte horizontalement */
    font-family: var(--font-titre);
    color: var(--color-fonce);
}

/* Carte de lieu - Texte */
.place-list-index p {
    margin: 15px 15px; /* espace vertical autour des paragraphes */
    text-align: center;
    font-size: 1.2em;
    letter-spacing: -2px;
}

.place-image-index {
    width: 100%;
    height: 190px; /* conserve les proportions */
    object-fit: cover; /* garantie que l'image reste entière */
    border-radius: 0.5rem; /* coins arrondis */
    box-shadow: 5px 5px 3px rgba(0,0,0,0.05); /* Ombre droite, bas, intensité, couleur */
}

/* Bouton de détails, View détails */
.details-button-index {
    display: block; /* transforme le bouton en élément bloc */
    margin: 10px auto 0; /* haut 10px, centrage auto, bas 0 */
    background-color: var(--color-moyen-fonce); /* fond couleur */
    color: var(--color-blanc-clair); /* texte blanc */
    padding: 8px 12px; /* espace intérieur */
    border: none; /* aucune bordure */
    border-radius: 8px; /* coins arrondis */
    cursor: pointer; /* curseur pointeur au survol */
    box-shadow: 2px 2px 3px rgba(0,0,0,0.05); /* Ombre droite, bas, intensité, couleur */
    font-size: 0.9em;
    font-family: var(--font-titre);
}

/*-----------------------------------------Détail Place---------------------------------------*/
/* Détails d’un hébergement */
#place-details {
    display: flex; /* Active le modèle Flexbox */
    flex-wrap: wrap; /* Autorise les éléments à passer à la ligne si nécessaire */
    flex-direction: column;
    gap: 10px; /* Espacement entre les éléments */
    justify-content: center; /* Centre les éléments horizontalement */
    margin-bottom: 2rem; /* Marge en bas de la section */
    align-items: center;

}

/* Informations sur le lieu */
.place-info {
    padding: 15px; /* Espacement intérieur */
    width: 100%; /* Largeur fixe des cartes */
    max-width: 800px;
    flex: 1 1 400px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5); /* blanc transparent par-dessus */
    background-blend-mode: lighten;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.place-image {
    max-width: 400px; /* Limite la largeur maximale de l’image à 400px */
    width: 100%; /* L’image prend toute la largeur disponible dans son conteneur */
    border-radius: 10px; /* Bords arrondis  */
    object-fit: cover; /* L’image couvre son conteneur sans se déformer */
}

.place-container {
    display: flex; /* Utilise Flexbox pour aligner horizontalement */
    gap: 20px; /* Espace de 20px entre les enfants (ex: image et .place-info) */
    align-items: center; /* Aligne les enfants en haut du conteneur */
    flex-wrap: wrap; /* Permet de passer à la ligne si la fenêtre est trop étroite */
    justify-content: center; /* Centre horizontalement les éléments sur plusieurs lignes */
}

/* Carte de lieu - Titre */
.titre-details-place {
    font-size: 2em; /* taille de titre */
    margin-bottom: 5px; /* espace sous le titre */
    margin-top: 10px;
    text-align: center; /* centre le texte horizontalement */
    font-family: var(--font-titre);
    color: var(--text-noir-vert);
}

/* Description paragraphe */
.place-info p {
    margin-bottom: 20px; /* Marge en dessous des paragraphes */
    text-align: left; /* formatage du texte */
    line-height: 1.4; /* Hauteur de ligne pour meilleure lisibilité */
    font-family: var(--font-texte);
    font-size: 1em;
    letter-spacing: -2px;
}

/* Liste équipements  */
.place-info ul {
    list-style-type: circle; /* style Puces */
    margin-left: 20px; /* Décalage vers la droite de la liste */
    margin-bottom: 10px; /* Espace sous la liste */
    font-size: 1em;
    font-family: var(--font-texte);
    letter-spacing: -2px;
}

/* Titre amenities */
.place-info h3 {
    margin-top: 15px; /* Espace au-dessus */
    margin-bottom: 8px; /* Espace en dessous */
    color: var(--color-fonce); /* Couleur moyenne foncée */
    text-align: left; /* formatage texte */
    font-size: 1.3em;
}

.host-label {
    color: var(--color-fonce); /* Définit la couleur du texte */
    font-family: var(--font-texte);
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

.price {
    margin: 0 auto;
    display: block;
    width: fit-content; /* ou une largeur fixe si nécessaire */
    border-radius: 50px;
    background: linear-gradient(145deg, white , var(--color-blanc-clair));
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    padding: 5px 10px 10px 10px;
}

/* Apparence de bouton pour le prix */
.price-button {
    display: inline-block; /* Nécessaire pour padding et border */
    font-weight: bold; /* Texte gras */
    font-size: 1.5em;

}

/*----------------------------------------REVIEWS------------------------------------------*/
/* Avis */
#reviews {
    max-width: 900px; /* Limite la largeur */
    margin: 0 auto 2rem; /* Centre la section et ajoute une marge en bas */
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

#add-review-title {
    font-size: 1.5em; /* taille text */
}

.review {
    border-radius: 8px; /* Coins arrondis */
    padding: 15px; /* Espacement intérieur */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-moyen-fonce); /* Bordure fine de couleur moyenne foncée */
    margin: 10px 0 10px 0 ;
    background-color: rgba(255, 255, 255, 0.5); /* blanc transparent par-dessus */
    background-blend-mode: lighten;
}

.review-rating {
    color: var(--color-star); /* Couleur des étoiles */
    font-size: 1.5em; /* taille text */
}

/* Paragraphes avis*/
.review p {
    margin-bottom: 5px; /* Marge sous le paragraphe */
    font-size: 0.8em;
    letter-spacing: -1.3px;
}

/* Formulaire ajout avis */
#add-review {
    max-width: 600px; /* Largeur maximale du formulaire */
    margin: 0 auto 3rem; /* Centré horizontalement, marge en bas */
    padding: 1rem; /* Espacement intérieur */

    border-radius: 10px; /* Coins arrondis */
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1); /* Ombre douce */
}

.review-action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Titre formulaire ajout avis */
#add-review h2 {
    text-align: center; /* Centrage du texte */
    color: var(--color-fonce); /* Couleur foncée */
}

/* Formulaire */
#review-form {
    display: none;
    display: flex; /* Flexbox */
    flex-direction: column; /* Alignement vertical */
    gap: 10px; /* Espace entre les éléments */
}

/* Labels du formulaire - petit titre */
#review-form label {
    font-weight: bold; /* Texte en gras */
    color: var(--color-fonce); /* Couleur foncée */
}

#star-rating {
    color: var(--color-star); /* Couleur des étoiles */
    font-size: 1.2em; /* taille text */
    cursor: pointer;
}

/* Zone de texte */
#review-text {
    resize: vertical; /* Redimensionnement vertical */
    min-height: 100px; /* Hauteur minimale */
    padding: 8px; /* Espacement intérieur */
    border: 1px solid var(--color-moyen-fonce); /* Bordure foncée */
    border-radius: 5px; /* Coins légèrement arrondis */
    font-family: inherit; /* Hérite de la police du parent */
    font-size: 1em; /* Taille de police normale */
}

/* Bouton soumettre */
#review-form button {
    align-self: flex-start; /* Aligne le bouton à gauche */
    padding: 8px 16px; /* Espacement intérieur horizontal/vertical */
    background-color: var(--color-moyen-fonce); /* Couleur de fond du bouton */
    color: var(--color-blanc-clair); /* Texte en blanc clair */
    border: none; /* Pas de bordure */
    border-radius: 8px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */
    font-weight: bold; /* Texte en gras */
    transition: background-color 0.3s; /* Animation douce du changement de couleur */
}

/* Bouton soumettre au survol */
#review-form button:hover {
    background-color: var(--color-fonce); /* Couleur de fond foncée au survol */
}

/* Footer - Pied de page */
footer {
    margin-top: 40px; /* espace au-dessus du pied de page */
    margin-bottom: 20px; /* espace en dessous du pied de page */
    text-align: center; /* texte centré */
    color: var(--text-noir-vert); /* texte gris moyen */
    font-size: 0.7em; /* taille légèrement réduite */
}
